spring:
  application:
    name: order-service
  
  config:
     import: optional:configserver:http://localhost:8888
  profiles:
     active: dev
  h2:
    console:
     enabled: true
     path: /h2-console
  jpa:
    hibernate:
      ddl-auto:  update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

resilience4j:
  circuitbreaker:
     instances:
       customerserviceCB:
          registerHealthIndicator: true
          slidingWindowType: COUNT_BASED
          slidingWindowSize: 5
          minimumNumberOfCalls: 5
          failureRateThreshold: 50
          waitDurationInOpenState: 10s
          permittedNumberOfCallsInHalfOpenState: 2
          automaticTransitionFromOpenToHalfOpenEnabled: true
         

 
management:
  endpoints:
     web:
       exposure:
        include: refresh
  health:
    circuitbreakers:
     enabled: true
logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
        
